[submodule "libs/deagle"]
	path = libs/deagle
	url = https://gitlab.com/secure-system/deagle.git
	branch = dev-ci
[submodule "libs/setup-wizard"]
	path = libs/setup-wizard
	url = https://github.com/miron404/SetupWizardLibrary.git
	branch = main
